{
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSpacing": false,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
